.movie-card {
  margin-bottom: 10px;
}

.movie-card.reverse {
  flex-direction: column-reverse;
}

.card-footer-badge {
  font-size: 1rem;
}

.movie-card.gold {
  border: 3px solid gold;
}

.movie-card.silver {
  border: 3px solid silver;
}
