.movie-card {
  margin-bottom: 10px;
}

.movie-card.reverse {
  flex-direction: column-reverse;
}

.card-footer-badge {
  font-size: 1rem;
}

.borderGold {
  border: 3px solid gold;
}

.borderSilver {
  border: 3px solid silver;
}

/*.movieDescr {
  font-size: 14px;
}*/
